/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-239ad27d-rjlyvdea
 *                                 	 
 ******************************************************************************************************/
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 850px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(255, 255, 255, 0);
						padding-left: 0px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .item-content:not(.blocks_layout)  {
		
						background-color: rgb(152, 52, 52);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-divider  {
		
						border-style: solid;
						border-color: rgb(255, 255, 255);
						border-bottom-width: 1px;
						margin-top: 10px;
						margin-bottom: 10px;
						width: 25%;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .inner-pic  {
		
						opacity: 1;
		    			-webkit-filter: brightness(0.8);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .background-div  {
			
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-title  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-body h1  { 
						line-height: 0.9em;
						font-size: 40rem;
						color: rgb(255, 255, 255);
						letter-spacing: 0.2em;
						margin-top: 5px;
						margin-bottom: 15px;
						font-family: Montserrat;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-item-links span  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea #sr-basket-widget *  { 
						border-width: 1px;
						font-size: 12rem;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(255, 255, 255);
						letter-spacing: 0.25em;
						padding-right: 30px;
						margin-top: 15px;
						padding-left: 30px;
						border-radius: 0px;
						padding-top: 10px;
						margin-bottom: 15px;
						font-family: Arial;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-element.icon-source  {
		
						margin-bottom: 10px;
						width: 80px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-link-img  {
		
						width: 21px;
						margin: 10px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-item-links span:before  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .effect-tester  { 
						background-color: rgb(255, 255, 255);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-body-holder  {
		
						max-width: 800px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-item-links span:hover  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-body  {
		
						line-height: 1.4em;
						font-size: 12rem;
						color: rgb(255, 255, 255);
						max-width: 1000px;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 10px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .middle_layout .helper-div  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-subtitle  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-rjlyvdea .preview-body h2  { 
						font-family: 'Times New Roman';
						font-size: 18rem;
						color: rgb(168, 168, 168);
						letter-spacing: 0.15em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						margin-bottom: 15px;
						line-height: 1.2em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-239ad27d-rjlyvdea #vbid-239ad27d-mxsw2kcj .preview-content-holder{
				
							text-align : center;
					
				}


 .style-239ad27d-rjlyvdea #vbid-239ad27d-ddq5x3hn.inner-pic{
				
							background-position : 49.4253% 72.7769%, 49.4253% 72.7769%;
					
				}









 .style-239ad27d-rjlyvdea #vbid-239ad27d-mxsw2kcj .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
