/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-239ad27d-crfwopxx
 *                                 	 
 ******************************************************************************************************/
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 450px;
						padding-right: 0px;
						margin-top: 30px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 30px;
						background-color: rgba(0, 0, 0, 0);
						border-color: rgb(197, 197, 197);
						padding-left: 0px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-divider  {
		
						margin-bottom: 10px;
						border-color: rgb(255, 255, 255);
						margin-top: 5px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .inner-pic  {
		
						opacity: 0.89;
						color: rgb(0, 0, 0);
		    			-webkit-filter: grayscale(100%);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-title  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-body h1  { 
						line-height: 1.2em;
						font-size: 18rem;
						color: rgb(255, 255, 255);
						letter-spacing: 0.0em;
						margin-top: 5px;
						margin-bottom: 5px;
						font-family: Montserrat;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-item-links span  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 14rem;
						color: rgb(0, 0, 0);
						padding-bottom: 15px;
						border-color: rgba(0, 0, 0, 0);
						letter-spacing: 0.1em;
						text-decoration: underline;
						padding-right: 20px;
						margin-top: 10px;
						padding-left: 20px;
						padding-top: 15px;
						border-width: 0px;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						margin-top: 0px;
						margin-bottom: 10px;
						width: 70px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-link-img  {
		
						width: 24px;
						margin: 12px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-body-holder  {
		
						max-width: 500px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: middle;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-item-links span:hover  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-element.Link.hover-tester  { 
						color: rgb(255, 82, 82);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-item-links span:before  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .effect-tester  { 
						background-color: rgb(255, 255, 255);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-body  {
		
						line-height: 1.6em;
						font-size: 10rem;
						color: rgb(89, 89, 89);
						letter-spacing: 0.2em;
						max-width: 600px;
						margin-top: 5px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 10px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .middle_layout .helper-div  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-subtitle  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-crfwopxx .preview-body h2  { 
						font-family: Montserrat;
						font-size: 12rem;
						color: rgb(90, 90, 90);
						letter-spacing: 0.05em;
						margin-right: 0px;
						margin-top: 15px;
						margin-left: 0px;
						margin-bottom: 0px;
						line-height: 1.5em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-239ad27d-crfwopxx #vbid-239ad27d-2bgdt8ge .preview-content-holder{
				
							text-align : center;
					
				}


 .style-239ad27d-crfwopxx #vbid-239ad27d-uauquouj.inner-pic{
				
							background-position : 44.6708% 48.2667%;
					
				}










 .style-239ad27d-crfwopxx #vbid-239ad27d-2bgdt8ge .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
