/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-239ad27d-95fyj9xz
 *                                 	 
 ******************************************************************************************************/
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz.master.item-box   {
		
						position: relative;
						background-color: rgb(255, 255, 255);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-item-links span:hover  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(147, 147, 147, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-item-links span:before  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .effect-tester  { 
						background-color: rgb(181, 181, 181);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz.master.item-box   {
		
						padding-left: 3%;
						width: 94%;
						padding-right: 3%;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-item-links  {
		
						text-align: center;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						max-width: 2000px;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						background-color: rgba(0, 0, 0, 0);
						text-align: left;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-item-links span  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz #sr-basket-widget *  { 
						font-size: 14rem;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						padding-bottom: 20px;
						border-color: rgba(255, 255, 255, 0.670588);
						letter-spacing: -0.0em;
						max-width: 1150px;
						padding-right: 10px;
						padding-left: 10px;
						padding-top: 20px;
						font-family: Abel;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-title  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-body h1  { 
						font-size: 14rem;
						color: rgb(50, 50, 60);
						letter-spacing: 0.05em;
						margin-left: 0px;
						font-family: Raleway;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-item-links.allow-bg-color  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .submenu  { 
						background-color: rgba(0, 0, 0, 0.619608);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-divider  {
		
						border-bottom-width: 1px;
						width: 10%;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .stripe-background  {
		
						margin-left: -3%;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-right: 10px;
						margin-top: 0px;
						margin-left: 10px;
						margin-bottom: 0px;
						width: 50px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: left;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .middle_layout .helper-div  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-subtitle  ,  .style-239ad27d-wdoxoe9v .style-239ad27d-95fyj9xz .preview-body h2  { 
						font-size: 16rem;
						color: rgba(0, 0, 0, 0.619608);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						font-family: Montserrat;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
